.house {
  display: grid;
  border: 1px solid #000;
  grid-gap: 15px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto auto;
  grid-template-areas: "title title master-switch"
                       "room-1 room-2 room-3"
                       "room-1-switch room-2-switch room-3-switch";
  margin: 50px;
}

.title {
  grid-area: title;
  font-size: 200%;
  padding: 10px 0 0 10px;
}

.master-switch {
  grid-area: master-switch;
  margin-top: 15px;
}

.room-1 {
  grid-area: room-1;
}

.room-2 {
  grid-area: room-2;
}

.room-3 {
  grid-area: room-3;
}

.room-1-switch {
 grid-area: room-1-switch;
  margin-bottom: 15px;
}

.room-2-switch {
  grid-area: room-2-switch;
}

.room-3-switch {
  grid-area: room-3-switch;
}

.light-on {
  background-color: #fff200;
  color: #000;
  padding: 20px;
  font-size: 150%;
}

.light-off {
  background-color: #444;
  color: #fff;
  padding: 20px;
  font-size: 150%;
}